
margin: auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body{
background-color: #FEFEFE;
}

.controller{
margin-top: 100px;
height: 200px;
width: 400px;
background-color: #E6E6E6;
position: relative;
box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
}

.controllerLeft{
height: 250px;
width: 250px;
background-color: #E6E6E6;
position: absolute;
border-radius: 100%;
margin-left: -125px;
box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
}

.controllerRight{
height: 250px;
width: 250px;
background-color: #B8B8B8;
position: relative;
border-radius: 100%;
margin-right: -125px;
border: solid 15px rgba(230, 230, 230,1);
box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
}